<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> 
	<link th:href="@{/css/accounts/confirm.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="wrapper">
			<h1 class="site-title">
				<a th:href="@{/mountain}"><img th:src="@{/images/logo.JPG}" alt="サイトロゴ"></a>
			</h1>
			<nav>
				<ul>
					<li>
						<form th:action="@{/logout}" method="post">
							<input type="submit" name="logout" value="ログアウト">
						</form>
					</li>
					<li><a th:href="@{/mypage}">マイページ</a></li>
					<li><a th:href="@{/mountain/search}">山を探す</a></li>
				</ul>
			</nav>
		</header>
		
		<section id="confirm-password" class="wrapper">
			<h2 class="section-title">入力内容の確認</h2>
		
			<form th:action="@{/update/password}" method="post" th:object="${passwordUpdateForm}">
					
				<p class="confirm" th:text="'パスワード：' + *{password}"></p>
				<input type="hidden" th:field="*{password}">
				
				<p class="description">以上の内容でよろしければ登録ボタンを押してください</p>
				<input class="btn" type="submit" name="save" value="登録">
			</form>
		</section>
		
		<!-- footer -->
		<footer id="footer">
			<p>&copy; 2023  mina utada</p>
			<img th:src="@{/images/footer.PNG}" alt="footer">
		</footer>
		
	</main>
</body>
</html>