<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> 
	<link th:href="@{/css/accounts/confirm.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="container">
			<a th:href="@{/}"><h1 class="site-title">どのやまのぼる？</h1></a>
			<ul>
				<li><a th:href="@{/signup}">新規登録</a></li>
				<li><a th:href="@{/login}">ログイン</a></li>
				<li><a th:href="@{/search}">山を探す</a></li>
			</ul>
		</header>
		
		<section id="confirm-register" class="wrapper">
			<h2 class="section-title">入力内容の確認</h2>
		
			<form th:action="@{/signup}" method="post" th:object="${signupForm}">
				<p class="confirm" th:text="'ユーザー名：' + *{username}"></p>
				<input type="hidden" th:field="*{username}">
				<p class="confirm" th:text="'パスワード：' + *{password}"></p>
				<input type="hidden" th:field="*{password}">

				<p  class="description">以上の内容でよろしければ登録ボタンを押してください</p>
				<input class="btn" type="submit" name="save" value="登録">
			</form>	

		<!-- footer -->
		<footer id="footer">
			<p>&copy; 2023  mina utada</p>
			<img th:src="@{/images/footer.PNG}" alt="footer">
		</footer>
		
	</main>
</body>
</html>