<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> 
	<link th:href="@{/css/accounts/account.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="wrapper">
			<h1 class="site-title">
				<a th:href="@{/}"><img th:src="@{/images/logo.JPG}" alt="サイトロゴ"></a>
			</h1>
			<nav>
				<ul>
					<li>
						<form th:action="@{/logout}" method="post">
							<input type="submit" name="logout" value="ログアウト">
						</form>
					</li>
					<li><a th:href="@{/mypage}">マイページ</a></li>
					<li><a th:href="@{/search}">山を探す</a></li>
				</ul>
			</nav>
		</header>
		
		<section id="update-password" class="wrapper">
			<h2 class="section-title">ユーザー情報の変更</h2>
			<p class="description">パスワードの変更</p>
			
				
			<form th:action="@{/update/password}" method="post" th:object="${passwordUpdateForm}">
				
				<ul class="error">
		            <li th:each="error : ${#fields.detailedErrors()}">
		                <span th:text="${error.message}"></span>
		            </li>
	        	</ul>
				
				<div class="user-form">
					<input type="password" th:field="*{password}" placeholder="パスワード（8文字以上）">
				</div>
				
				<input class="btn" type="submit" name="next" value="確認">
				
			</form>
		</section>
			
		<!-- footer -->
		<footer id="footer">
			<p>&copy; 2023  mina utada</p>
			<img th:src="@{/images/footer.PNG}" alt="footer">
		</footer>
		
	</main>
</body>
</html>