@charset "UTF-8";@charset "UTF-8";
html {
	font-size: 100%;
}
img {
    max-width: 100%;
}
body {
	width: 100%;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
    color: #333333;
    background-color: #f5f5f5;
}
a {
	display: block;
    text-decoration: none;
    color: #333333
}
li {
    list-style: none;
}
.site-title {
  line-height: 1px;
}

.wrapper {
    max-width: 960px;
    text-align: center;
    margin: 0 auto 60px auto;
}



/*-------header-------*/
#header {
	max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 0 4%;
}
#header img {
	width: 200px;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
	font-size: 0.9rem;
    margin-left: 30px;
}
#header li a:hover {
    opacity: 0.7;
}
#header li a:active {
    color: #b0c4de;
}

/*-------山の情報-------*/
#mountain-list .contents {
	width: 90%;
    border: 4px dotted #D0A900;
    border-radius: 15px;
    margin: 0 auto 10px auto;
    padding: 20px;
}
#mountain-list .info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
#mountain-list dt {
  width: 30%;
}

#mountain-list dd {
  width: 70%;
}


/*-------footer-------*/
#footer {
    font-size: 0.75rem;
}

/*------------------*/
/*レスポンシブ対応*/
/*-------------------*/
@media screen and (max-width: 600px) {
	
	html {
		font-size: 0.6rem;
	}
		
/*	-------header-------*/
	#header {
		flex-direction: column;
		max-width: 100%;
		height: auto;
	}
	#header li {
		margin-left: 20px;
	}
	#header li:first-child {
		margin-left: 0;
	}
	
	#mountain-list .info {
		flex-direction: column;
	}
	#mountain-list dt {
		width: 100%;
	}

	#mountain-list dd {
	  	width: 100%;
	}
}