<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.mountain.repository.MountainMapper">

	<!-- ランダムで一件取得 -->
	<select id="showOne" resultType="com.example.mountain.entity.Mountain">
		SELECT * FROM mountains ORDER BY RAND() LIMIT 1
	</select>

	<!-- すべてのデータを取得 -->
	<select id="showAll" resultType="com.example.mountain.entity.Mountain">
		SELECT * FROM mountains
	</select>

	<!-- 場所の名前が一致するデータを取得 -->
	<select id="selectPref" parameterType="string" resultType="com.example.mountain.entity.Mountain">
		SELECT * FROM mountains WHERE prefecture = #{prefecture}
	</select>
	
	<!-- コースタイムの長短でデータを取得 -->
	<select id="selectTime" resultType="com.example.mountain.entity.Mountain">
		SELECT * FROM mountains
		WHERE
			<if test="time == 'long'">
				time >= 100
				
			</if>
			<if test="time == 'short'">
				100 > time
			</if>
	</select>
	
	<!-- 気分のidが一致するデータを取得 -->
	<select id="selectFeel" resultType="com.example.mountain.entity.Mountain">
		SELECT * FROM mountains
		INNER JOIN mt_feeling
			ON mountains.id = mt_feeling.mt_id
				AND mt_feeling.feeling_id = #{feeling}
		INNER JOIN feeling
			ON mt_feeling.feeling_id = feeling.id
	</select>
	
	<!-- 山のidが一致するデータを取得 -->
	<select id="findById" resultType="com.example.mountain.entity.Mountain">
		SELECT * FROM mountains WHERE id = #{mountainId}
	</select>
</mapper>