<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.mountain.repository.ReviewMapper">

	<!-- レビュー作成 -->
	<insert id="insertReview">
		INSERT INTO reviews(
			title,
			body,
			created_at,
			mountain_id,
			account_id)
		VALUES(
			#{title},
			#{body},
			CURRENT_DATE(),
			#{mountainId},
			#{accountId})
	</insert>

	<!-- 山idでレビューと投稿者のデータを取得 -->
	<select id="selectByMountainId" resultType="com.example.mountain.entity.Review">
		SELECT * FROM reviews 
		INNER JOIN mountains
			ON reviews.mountain_id = mountains.id
				AND mountains.id = #{id}
		INNER JOIN accounts
			ON reviews.account_id = accounts.id 
	</select>
</mapper>