<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.mountain.repository.UserMapper">

	<insert id="saveUser">
		INSERT INTO mt_users(
			username,
			password)
		VALUES(
			#{username},
			#{password})
	</insert>
	
	<select id="selectUser" resultType="com.example.mountain.entity.MtUser">
		SELECT * FROM mt_users 
		WHERE 
			username = #{username}
	</select>
</mapper>