<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<!-- <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> -->
	<link th:href="@{/css/top.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="container">
			<h1 class="site-title">どのやまのぼる？</h1>
			<ul>
				<li><a th:href="@{/mountain/signin}">新規登録</a></li>
				<li><a th:href="@{/mountain/login}">ログイン</a></li>
			</ul>
		</header>
		
		<h2>新規ユーザー登録</h2>
		<p>新規ユーザー登録するには、ニックネームとメールアドレスとパスワードを入力してください</p>
		<form th:action="@{/mountain/signin}" method="post" th:object="${signinForm}">
			<div>
				<label>ニックネーム（10文字以内）</label>
				<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red"></span><br />
				<input type="text" th:field="*{userName}">
			</div>
			<div>
				<label>メールアドレス</label>
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span><br />
				<input type="text" th:field="*{email}">
			</div>
			<div>
				<label>パスワード</label>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span><br />
				<input type="password" th:field="*{password}">
			</div>
			<div>
				<input type="submit" value="新規登録"/>
			</div>
		</form>
		
		<a th:href="@{/mountain/login}">すでにユーザー登録済の方はこちら</a>
	</main>
</body>
</html>