<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<!-- <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> -->
	<!-- <link rel="stylesheet" href="../static/css/top.css"> -->
	<link th:href="@{/css/top.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="container">
			<h1 class="site-title">どのやまのぼる？</h1>
			<ul>
				<li><a href="#">新規登録</a></li>
				<li><a href="#">ログイン</a></li>
			</ul>
		</header>
		
		<div class="container">
			<h2>場所で検索</h2>
			<div class="search-place">
				<button>東京</button>
				<button>茨城</button>
				<button>栃木</button>
				<button>群馬</button>
				<button>埼玉</button>
				<button>千葉</button>
				<button>神奈川</button>
				<button>すべての山</button>
			</div>
			
			<h2>コースタイムで検索</h2>
			<div>
				<button>長めの時間で楽しみたい</button>
				<button>短い時間でサクッと登りたい</button>
			</div>
			
			<h2>気分で検索</h2>
			<div>
				<button>自然に癒されたい</button>
				<button>スリルを感じたい</button>
				<button></button>
				<button></button>
			</div>
		</div>
</body>
</html>