<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<!-- <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> -->
	<!-- <link rel="stylesheet" href="../static/css/top.css"> -->
	<!--<link th:href="@{/css/top.css}" rel="stylesheet" />-->
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="container">
			<h1 class="site-title">どのやまのぼる？</h1>
			<ul>
				<li><a th:href="@{/mountain/register}">新規登録</a></li>
				<li><a th:href="@{/mountain/login}">ログイン</a></li>
			</ul>
		</header>
		
		<div class="container">
			<div class="prefecture">
				<h2>場所で検索</h2>
				
				<form th:action="@{/mountain/result-prefecture}" method="get">
					<button type="submit" name="prefecture" value="東京">東京</button>
					<button type="submit" name="prefecture" value="茨城">茨城</button>
					<button type="submit" name="prefecture" value="栃木">栃木</button>
					<button type="submit" name="prefecture" value="群馬">群馬</button>
					<button type="submit" name="prefecture" value="埼玉">埼玉</button>
					<button type="submit" name="prefecture" value="千葉">千葉</button>
					<button type="submit" name="prefecture" value="神奈川">神奈川</button>
					<a th:href="@{/mountain/result-all}">すべての山</a>
				</form>
				
	
			</div>
			
			<div class="time">
				<h2>コースタイムで検索</h2>
				
				<form th:action="@{/mountain/result-coursetime}" method="get">
					<button type="submit" name="time" value="long">長めの時間で楽しみたい</button>
					<button type="submit" name="time" value="short">短い時間でサクッと登りたい</button>
				</form>
				
			</div>
			
			<div class="feeling">
				<h2>気分で検索</h2>
				
				<form  th:action="@{/mountain/result-feeling}" method="get">
					<button type="submit" name="feeling" value="1">自然に癒されたい</button>
					<button type="submit" name="feeling" value="2">スリルを感じたい</button>
					<button type="submit" name="feeling" value="3">観光もしたい</button>
					<button type="submit" name="feeling" value="4">山グルメを味わいたい</button>
				</form>
			</div>
		</div>
</body>
</html>