<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<!-- <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> -->
	<!-- <link rel="stylesheet" href="../static/css/top.css"> -->
	<link th:href="@{/css/top.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="container">
			<h1 class="site-title">どのやまのぼる？</h1>
			<ul>
				<li><a href="#">新規登録</a></li>
				<li><a href="#">ログイン</a></li>
			</ul>
		</header>
		
		<h2>詳細画面！</h2>
		<table>
			<p th:text="${mtData.content}"></p>
		</table>
</body>
</html>