@charset "UTF-8";@charset "UTF-8";
html {
	font-size: 100%;
}
img {
    max-width: 100%;
}
body {
	width: 100%;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
    color: #333333;
    background-color: #f5f5f5;
}
a {
	display: block;
    text-decoration: none;
    color: #333333
}
li {
    list-style: none;
}
.site-title {
  line-height: 1px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 40px auto;
}
.section-title {
	width: 90%;
	font-size: 1.5rem;
	text-align: center;
	margin: 0 auto 60px auto;
	border-bottom: 4px dotted #D0A900;
}


/*-------header-------*/
#header {
	max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 4%;
}
#header img {
	width: 200px;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
	font-size: 0.9rem;
    margin-left: 30px;
}
#header li a:hover {
    opacity: 0.7;
}
#header li a:active {
    color: #D0A900;
}


/*-------山の情報-------*/
#contents img {
	width: 100%;
    max-width: 960px;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}
#contents .overview{
	width: 80%;
	margin: 0 auto;
}
#contents .info {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
    margin: 20px auto 10px auto;
    padding: 20px;
}
#contents dt {
	width: 30%;
}

#contents dd {
	width: 70%;
}


/*山に関するレビュー*/
.review-title:after {
	background-color: #D0A900;
	border-radius: 2px;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 10px;
}
#reviews .review {
	width: 80%;
    margin: 0 auto 30px auto;
    padding: 20px
}

#reviews .user-info{
	display: flex;
	font-size: 0.8rem;
	color: #b3b3b3;
	margin-top: 10px;
}
#reviews li {
	margin-right: 10px;
}

/*レビュー関連のリンクボタン*/
.review-link {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}
.review-link a {
	line-height: 60px;
}
.btn {
	width: 35%;
	height: 60px;
    font-size: 0.9rem;
    border: solid 1px #006036;
    border-radius: 15px;
    margin: 5px 10px;
}
.btn:hover {
    color: #f5f5f5;
    background: #006036;
}
.btn:active {
    color:#b8ccb8;
}

/*-------footer-------*/
#footer {
    font-size: 0.75rem;
    text-align: center;
    margin: 0 auto;
}
#footer img {
	width: 100%;
    max-width: 1920px;
    height: 142px;
    object-fit: cover;
}

/*------------------*/
/*レスポンシブ対応*/
/*-------------------*/
@media screen and (max-width: 600px) {
	
	html {
		font-size: 0.8rem;
	}
		
/*	-------header-------*/
	#header {
		flex-direction: column;
		max-width: 100%;
		height: auto;
	}
	#header li {
		margin-left: 20px;
	}
	#header li:first-child {
		margin-left: 0;
	}
	
/*		山の情報*/
	#contents .info {
		flex-direction: column;
		text-align: center;
	}
	#contents dt {
		width: 100%;
		background-color: #e6e6e6;
	}

	#contents dd {
	  	width: 100%;
	}
	
/*	レビュー*/
	#reviews .user-info{
		flex-direction: column;
	}
	
/*	レビュー関連ボタン*/
	.review-link {
		flex-direction: column;
		align-items: center;
	}

	.btn {
		width: 80%;
	}
	.btn:active {
		background: #9bcc9b
	}
}