<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	<link th:href="@{/css/mountains/create.css}" rel="stylesheet">
</head>
<body>
	<main>
		
    	<!-- header -->
		<header id="header" class="wrapper">
			<h1 class="site-title">
				<a th:href="@{/mountain}"><img th:src="@{https://mountainbucket-utada.s3.ap-northeast-1.amazonaws.com/source/logo.JPG}" alt="サイトロゴ"></a>
			</h1>
			<nav>
				<ul>
					<li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/mypage}">マイページ</a></li>
					<li><a th:href="@{/mountain/search}">山を探す</a></li>
				</ul>
			</nav>
		</header>
		
<!--		レビュー投稿-->
		<section id="review-create" class="wrapper">
			<h2 class="section-title">レビュー作成</h2>
			
			<form th:action="@{/mountain/review-create{id}(id = ${id})}" method="POST" th:object="${reviewCreateForm}">
				
				<ul class="error">
		            <li th:each="error : ${#fields.detailedErrors()}">
		                <span th:text="${error.message}"></span>
		            </li>
	        	</ul>
        	
				<div class="review">
					<label>レビュータイトル</label>
					<input type="text" th:field="*{title}">

					<label>投稿文</label>
					<textarea　th:field="*{body}"></textarea>
				</div>
				
				<div class="review-submit">
					<a class="btn" th:href="@{/mountain/show{id}(id = ${id})}">戻る</a>
					<input class="btn" type="submit" value="投稿する"/>
				</div>
			</form>
			
		</section>
		
		<!-- footer -->
		<footer id="footer">
			<p>&copy; 2023  mina utada</p>
			<img th:src="@{https://mountainbucket-utada.s3.ap-northeast-1.amazonaws.com/source/footer.PNG}" alt="footer">
		</footer>
	</main>
</body>
</html>