<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
	<link th:href="@{/css/mountains/top-search.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="wrapper">
			<h1 class="site-title">
				<a th:href="@{/mountain}"><img th:src="@{/images/logo.JPG}" alt="サイトロゴ"></a>
			</h1>
			<nav>
				<ul>
					<li><a th:href="@{/signup}">新規登録</a></li>
					<li><a th:href="@{/login}">ログイン</a></li>
				</ul>
			</nav>
		</header>
		
		<section id="prefecture" class="wrapper">
			<h2 class="section-title">場所で検索</h2>
				<form th:action="@{/mountain/result-prefecture}" method="get">
					<div class="button">
						<button class="btn" type="submit" name="prefecture" value="東京">東京</button>
						<button class="btn" type="submit" name="prefecture" value="茨城">茨城</button>
						<button class="btn" type="submit" name="prefecture" value="栃木">栃木</button>
						<button class="btn" type="submit" name="prefecture" value="群馬">群馬</button>
						<button class="btn" type="submit" name="prefecture" value="埼玉">埼玉</button>
						<button class="btn" type="submit" name="prefecture" value="千葉">千葉</button>
						<button class="btn" type="submit" name="prefecture" value="神奈川">神奈川</button>
						<a th:href="@{/mountain/result-all}" class="btn">すべての山</a>
					</div>
				</form>

		</section>
			
		<section id="time" class="wrapper">
			<h2 class="section-title">コースタイムで検索</h2>
			
			<form th:action="@{/mountain/result-coursetime}" method="get">
				
				<div class="button">
					<button class="btn" type="submit" name="time" value="long">時間をかけて楽しみたい</button>
					<button class="btn" type="submit" name="time" value="short">サクッと登りたい</button>
				</div>
			</form>
			
		</section>
		
		<section id="feeling" class="wrapper">
			<h2 class="section-title">気分で検索</h2>
			
			<form  th:action="@{/mountain/result-feeling}" method="get">
				<div class="button">
					<button class="btn" type="submit" name="feeling" value="1">自然に癒されたい</button>
					<button class="btn" type="submit" name="feeling" value="2">スリルを感じたい</button>
					<button class="btn" type="submit" name="feeling" value="3">観光もしたい</button>
					<button class="btn" type="submit" name="feeling" value="4">山グルメを味わいたい</button>
				</div>
			</form>
		</section>
		
		<!-- footer -->
		<footer id="footer">
			<p>&copy; 2023  mina utada</p>
			<img th:src="@{/images/footer.PNG}" alt="footer">
		</footer>
	</main>
</body>
</html>