<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<!-- <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> -->
	<!-- <link rel="stylesheet" href="../static/css/top.css"> -->
	<link th:href="@{/css/top.css}" rel="stylesheet" />
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="container">
			<h1 class="site-title">どのやまのぼる？</h1>
			<ul>
				<li><a th:href="@{/mountain/signup}">新規登録</a></li>
				<li><a th:href="@{/mountain/login}">ログイン</a></li>
			</ul>
		</header>
		

		<div th:object="${mountain}">
			
			<!-- 山の名前 -->
			<h2 th:text="*{name}"></h2>
	
			<!-- 山の情報 -->	
			<p><!-- 改行コードの変換  -->
			<th:block th:if="*{content}">
				<!-- \r\nなどがきたら改行の繰り返し -->
				<th:block th:each="line: *{content.split('\\r\\n|\\r|\\n', -1)}">
					<th:block th:text="${line}" />
					<br />
				</th:block>
			</th:block>
			</p>
			
			<dl>
				<dt>場所</dt>
				<dd th:text="*{prefecture}"></dd>
				
				<dt>コースタイム</dt>
				<dd th:text="*{time}+'分'"></dd>
				
				<dt>最寄り駅</dt>
				<dd th:text="*{station}"></dd>
			</dl>

		</div>
		
	</main>
</body>
</html>