<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>どのやまのぼる？～関東編～</title>
	<meta name="description" content="楽しい山登り。明日はどの山登る？">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" /> 
	<link th:href="@{/css/mountains/show.css}" rel="stylesheet"/>
</head>
<body>
	<main>
    	<!-- header -->
		<header id="header" class="wrapper">
			<h1 class="site-title">
				<a th:href="@{/mountain}"><img th:src="@{/images/logo.JPG}" alt="サイトロゴ"></a>
			</h1>
			<nav>
				<ul>
					<li sec:authorize="!hasRole('ROLE_USER')"><a th:href="@{/signup}">新規登録</a></li>
					<li sec:authorize="!hasRole('ROLE_USER')"><a th:href="@{/login}">ログイン</a></li>
					<li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/mypage}">マイページ</a></li>
					<li><a th:href="@{/mountain/search}">山を探す</a></li>
				</ul>
			</nav>
		</header>
		
		<!--　山の情報　-->
		<section id="contents" class="wrapper" th:object="${mountain}">
			<h2 class="section-title" th:text="*{name}"></h2>
			
			<div class="overview">
				<p><!-- 改行コードの変換  -->
					<th:block th:if="*{content}">
						<!-- \r\nなどがきたら改行の繰り返し -->
						<th:block th:each="line: *{content.split('\\r\\n|\\r|\\n', -1)}">
							<th:block th:text="${line}" />
							<br>
						</th:block>
					</th:block>
				</p>
			</div>
			
			<dl class="info">
				<dt>場所：</dt>
				<dd th:text="*{prefecture}"></dd>
				
				<dt>コースタイム：</dt>
				<dd th:text="*{time}+'分'"></dd>
				
				<dt>最寄り駅：</dt>
				<dd th:text="*{station}"></dd>
			</dl>
		</section>
		
		<!--　山に関するレビュー　-->
		<section id="reviews" class="wrapper">
			<h2 class="section-title">この山に関するレビュー</h2>
			
			<th:block th:each="review:${reviewList}">
				<th:block th:object="${review}">
					<div class="review">
						<h3 class="review-title" th:text="*{title}"></h3>
						<p th:text="*{body}"></p>
						
						<ul class="user-info">
							<li th:text="*{username}+'さん'"></li>
							<li th:text="*{#dates.format(createdAt,'YYYY年MM月DD日')}"></li>
						</ul>
					</div>
				</th:block>
			</th:block>
			
			<div class="review-link">
				<a class="btn" th:href="@{/mountain/review-create{id}(id = *{id})}">
					すべてのレビューを見る
				</a>
				<a class="btn" th:href="@{/mountain/review-create{id}(id = ${mountain.id})}">
					レビューを投稿する
				</a>
			</div>
		</section>
			
		<!-- footer -->
		<footer id="footer">
			<p>&copy; 2023  mina utada</p>
			<img th:src="@{/images/footer.PNG}" alt="footer">
		</footer>
	</main>
</body>
</html>